

.skill img {
    transition: .4s;
}

.skill span {
    transition: .4s;
}

@media (min-width: 900px) {

    
    .skill:hover img {
        opacity: 0;
    }
    
    .skill:hover span {
        opacity: 1;
    }
}


